@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --ff-primary: 'Merriweather', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(https://res.cloudinary.com/dmdp4huyc/image/upload/v1720520482/byqn2fgjjhnmjslj3dtr.jpg) center / cover no-repeat;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  backdrop-filter: blur(3px);
}
.background-body {
  background: url(https://res-console.cloudinary.com/dmdp4huyc/media_explorer_thumbnails/804d7770f7da25257ec274c715f4d9eb/detailed) center / cover no-repeat;
  background-attachment: fixed;
}
#root {
  min-height: 100vh;
  width: 100vw;
}
/* Global */
.btn-global {
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 1rem;
  margin: auto;
  width: 200px;
  height: 70px;
  border: none;
  border-radius: 0.25rem;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn-global:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
/* Header */
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.header-logo {
  height: 100px;
  width: auto;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list a {
  cursor: pointer;
}
.nav-list li {
  margin: 0 1rem;
  transition: filter 0.3s;
}
.nav-list li:hover {
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5)) brightness(200%);
}
.nav-list li::after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: opacity 0.3s;
}
.nav-list li:hover::after {
  opacity: 1;
}
.nav-list li a {
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  color: hsl(0, 0%, 90%);
  text-decoration: none;
}
.link-active {
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5)) brightness(200%);
}
.link-active::after {
  opacity: 1;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: opacity 0.3s;
}
.fa-angle-down {
  transition: transform 0.3s;
}
.angle-active {
  transform: rotate(180deg);
}
.nav-profile {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 90%);
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
}
.header-skins-container {
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  position: absolute;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.header-skins-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.header-skins-container ul li {
  margin: 0.5rem 0;
}
.header-skins-container ul li:hover::after {
  filter: brightness(100%);
}
.show-skins {
  transform: scaleY(1);
  opacity: 1;
}
/* Home */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.home-desc {
  font-family: var(--ff-primary);
  color: hsl(0, 0%, 90%);
  margin-right: -5rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
.home-desc h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home-desc p {
  color: hsl(0, 0%, 80%);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.home-img {
  margin-left: -5rem;
  transform: scale(1.1) rotate(45deg);
  filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.534)) brightness(150%);
}
/* Agents Page */
.agent-headline {
  color: white;
  font-family: var(--ff-secondary);
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.25rem;
  margin-left: 10rem;
  margin-top: 5rem;
  width: 10%;
  border-bottom: 1px solid white;
}
.agent-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem;
  gap: 2rem;
}
.agent-container {
  display: flex;
  flex-direction: column;
  align-self: center; 
  transition: transform 0.3s linear;
}
.agent-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.agent-img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.534)) brightness(120%);
}
.agent-name {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  color: hsl(0, 0%, 90%);
  margin: 1rem 0;
  text-align: center;
}
/* Single Agent Page */
.single-agent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  padding: 2rem 2rem;
}
.single-agent-left {
  width: 30%;
  height: 100%;
}
.single-agent-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.single-agent-img {
  width: 40%;
  transition: transform 0.3s;
}
.single-agent-img:hover {
  transform: scale(1.1);
}
.single-agent-role {
  color: white;
  font-family: var(--ff-secondary);
  text-align: center;
  margin-bottom: 3rem;
}
.single-agent-abilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-agent-abilities-container h1 {
  color: white;
  font-family: var(--ff-secondary);
  margin-bottom: 2rem;
}
.single-agent-abilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.single-agent-ability {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}
.single-agent-ability:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.single-agent-ability p {
  color: white;
  text-align: center;
  font-family: var(--ff-secondary);
}
.single-agent-ability-img {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  transition: transform 0.3s;
}
.single-agent-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  height: 100%;
}
.single-agent-headline {
  display: flex;
  font-family: var(--ff-secondary);
  color: white;
}
.single-agent-name {
  margin-right: 1rem;
  width: 50%;
}
.single-agent-headline h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: white;
  margin-top: 1rem;
}
.single-agent-headline p {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  font-weight: 700;
  font-style: oblique;
  color: hsl(0, 0%, 90%);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  margin-top: 0.5rem;
  margin-left: 0.25rem;
}
.single-agent-description {
  font-family: var(--ff-secondary);
  color: hsl(0, 0%, 90%);
  font-size: 1.25rem;
}
.single-agent-description h2 {
  margin: 1rem 0;
  margin-top: 0;
}
.single-agent-description h2::after {
  content: "";
  display: block;
  width: 15%;
  height: 1px;
  background-color: white;
  margin-top: 1rem;
}
.single-agent-description p {
  max-width: 75%;
}
.single-agent-passive h2{
  font-family: var(--ff-secondary);
  color: white;
}
.single-agent-passive h2::after {
  content: "";
  display: block;
  width: 15%;
  height: 1px;
  background-color: white;
  margin-top: 1rem;
}
.single-agent-passive p {
  color: white;
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  margin-top: 1rem;
}